<ion-header class="ion-no-border">
    <ion-toolbar color="dark">

        <ion-buttons>
            <ion-back-button defaultHref="/" color="tertiary" text="">

            </ion-back-button>
        </ion-buttons>
        <ion-title>Agregar lista</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list color="dark">
        <ion-item color="dark">
            <ion-label position="floating">Nuevo item</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header color="dark">
            <ion-label>Tareas por hacer</ion-label>
        </ion-list-header>

        <ion-item color="dark">
            <ion-checkbox color="tertiary"></ion-checkbox>
            <ion-label>Recordar comer hoy</ion-label>
        </ion-item>
    </ion-list>
</ion-content>