<ion-header class="ion-no-border">
    <ion-toolbar color="dark">

        <ion-buttons>
            <ion-back-button defaultHref="/"> color="tertiary" text="">

            </ion-back-button>
        </ion-buttons>
        <ion-title>{{ list.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list color="dark">
        <ion-item color="dark">
            <ion-label position="floating">Nuevo item</ion-label>
            <ion-input type="text" [(ngModel)]="itemName" (keyup.enter)="AddItem()"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header color="dark">
            <ion-label>Tareas por hacer</ion-label>
        </ion-list-header>

        <ion-item color="dark" *ngFor="let item of list.items">
            <ion-checkbox color="tertiary" [(ngModel)]="item.complated"></ion-checkbox>
            <ion-label>{{ item.desc }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>