<ion-content [fullscreen]="true" color="dark">
    <ion-header collapse="condense" class="ion-no-border">
        <ion-toolbar color="dark">
            <ion-title size="large">To Do</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-lists></app-lists>

    <ion-list color="dark">
        <ion-item *ngFor="let list of todoService.lists" detail color="dark"
        (click)="selectedList(list)">
            <ion-label>
                {{ list.title }}
            </ion-label>
            <ion-note slot="end" color="tertiary" > {{ list.items.length }}</ion-note>
        </ion-item>
    </ion-list>
    <!-- <app-explore-container name="To Do page"></app-explore-container> -->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="agregarList()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>